<p>
  <%= apphelp_view_hint( :report_name_help_1, HelpController ) %>
</p>

<p>
  <%= apphelp_view_hint( :report_name_help_2, HelpController ) %>
</p>

<p>
  <%= apphelp_view_hint( :report_name_help_3, HelpController ) %>
</p>