<div class="icon_page help">
<%= render :partial => 'translations' -%>
<% if  ( content_for?( @partial.to_sym ) ) -%>
<%= yield( @partial.to_sym ) -%>
<% else -%>
  <%= apphelp_view_hint( :no_help ) %>
<% end -%>
</div>