<%= render(
      {
        :partial => 'shared/active_inactive_list',
        :locals  =>
        {
          :model          => 'task',
          :active         => @active_tasks,
          :inactive       => @inactive_tasks,
          :columns        => @columns,
          :actions_method => 'taskhelp_actions'
        }
      }
    )
%>
      <h2>Find tasks</h2>

<%=
    render(
      :partial => 'shared/search',
      :locals  => {
        :path    => tasks_path(),
        :prompt  => 'Search task, project and customer titles and task codes',
        :dprompt => 'between task addition date',
        :years   => Task.used_range()
      }
    )
%>