<!DOCTYPE html>
<html>
  <head>
    <title>Thank you for signing up with TrackRecord</title>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <p>
      Thank you for signing up with TrackRecord. The administrator has
      finished configuring your account and you can now use the service.
    </p>

    <p>
      Please note that different individuals are often granted different
      levels of access to the system. If you have any questions, please
      direct them to the administrator at:
    </p>

    <p>
      <!-- Not clickable - discourage phishing -->
      &nbsp;&nbsp;&nbsp;&nbsp;<%= EMAIL_ADMIN %>
    </p>

    <p>
      If you did not sign up with TrackRecord then someone else did so,
      using your e-mail address. To resolve the problem, please contact
      the administrator.
    </p>

    <p>
      <em><small>TrackRecord automatic message</small></em>
    </p>
  </body>
</html>