<div class="icon_page warning">

  <h1>Delete report <%= @record.title %>?</h1>
  <h2>Warning!</h2>

  <p>
    The action cannot be undone.
  </p>

  <div class="centred">
    <%= form_for( :saved_report, :url => { :action => 'destroy', :id => @record.id }, :html => { :method => 'delete' } ) do | f | %>
      <%= f.submit( 'Delete report', { :disable_with => 'Deleting...' } ) %>
      or <%= link_to( 'cancel and list reports', user_saved_reports_path( @record.user ) ) %>.
    <% end %>
  </div>

</div>