    <h2>Basic information</h2>

<%=
  # Normal users can edit anything within their own account; the Controller
  # prevents access to any other accounts.

  render :partial => "credentials", :locals => { :f => f }
%>
<% unless ( @current_user.nil? or @current_user.name.blank? ) -%>
    <h2>Configuration</h2>
<%= fields_for :control_panel do | cp | -%>
    <%= error_messages_for :control_panel %>

    <table class="editing_table">
      <tr class="editing_row">
        <th>Tasks added to new timesheets by default</th>
        <td>
<%=
  taskhelp_degrading_selector(
    :user_default_task_list,
    { :form => cp, :user => @user, :line_prefix => '          ' }
  )
%>
        </td>
      </tr>
    </table>
<% end -%>
<% end -%>