<%= render(
      {
        :partial => 'shared/active_inactive_list',
        :locals  =>
        {
          :model          => 'user',
          :active         => @active_users,
          :inactive       => @inactive_users,
          :columns        => @columns,
          :actions_method => 'userhelp_actions'
        }
      }
    )
%>
      <h2>Find user accounts</h2>

<%=
    render(
      :partial => 'shared/search',
      :locals  => {
        :path    => users_path(),
        :prompt  => 'Search names, e-mail addresses and identity URLs',
        :dprompt => 'between account creation date',
        :years   => User.used_range()
      }
    )
%>