<%= render(
      {
        :partial => 'shared/active_inactive_list',
        :locals  =>
        {
          :model          => 'customer',
          :active         => @active_customers,
          :inactive       => @inactive_customers,
          :columns        => @columns,
          :actions_method => 'customerhelp_actions'
        }
      }
    )
%>
      <h2>Find customers</h2>

<%=
    render(
      :partial => 'shared/search',
      :locals  => {
        :path    => customers_path(),
        :prompt  => 'Search customer titles and codes',
        :dprompt => 'between customer addition date',
        :years   => Customer.used_range()
      }
    )
%>