      <div class="list_titles">
        <h1><%= params[ :search ] ? 'Search results' : 'Audit trail' %></h1>
      </div>

<%=
  render(
    {
      :partial => 'shared/list',
      :locals  =>
      {
        :model          => 'audit',
        :columns        => @columns,
        :collection     => @audits,
        :actions_method => nil,
        :with_reports   => false
      }
    }
  )
%>
      <h2>Find audit entries</h2>

<%=
    render(
      :partial => 'shared/search',
      :locals  => {
        :path    => audits_path(),
        :prompt  => 'Search user names ("Who?"), action names ("What?") and revision numbers',
        :dprompt => 'between record creation date',
        :years   => Audited::Audit.used_range()
      }
    )
%>