<%= render(
      {
        :partial => 'shared/active_inactive_list',
        :locals  =>
        {
          :model          => 'project',
          :active         => @active_projects,
          :inactive       => @inactive_projects,
          :columns        => @columns,
          :actions_method => 'projecthelp_actions'
        }
      }
    )
%>
      <h2>Find projects</h2>

<%=
    render(
      :partial => 'shared/search',
      :locals  => {
        :path    => projects_path(),
        :prompt  => 'Search project and customer titles and project codes',
        :dprompt => 'between project addition date',
        :years   => Project.used_range()
      }
    )
%>