# TrackRecord SQLite 3 template database configuration. Syntax taken from
# "http://blog.bleything.net/" (Ben Bleything, June 2006).

dbinfo: &dbinfo
  adapter: sqlite3
  pool: 5
  timeout: 5000

production:
  <<: *dbinfo
  database: db/trackrecord.sqlite3

development:
  <<: *dbinfo
  database: db/trackrecord-devel.sqlite3

# Warning: The database defined as 'test' will be erased and re-generated
# from your development database when you run 'rake'. Do not set this to
# the same as development or production.

test:
  <<: *dbinfo
  database: db/trackrecord-test.sqlite3
