//============================================================================
// File:    trackrecord_print.css
//          Hipposoft 2009
//
// Purpose: Modifiers for "trackrecord_all.css" to improve printed
//          output. Print media type only.
//
// History: 29-Nov-2009 (ADH): Created.
//============================================================================

body {
  height: auto;
  zoom: 70%;
}

div#header, div#footer, table.report_actions {
  display: none;
}

div#main_page_content {
  margin: auto;
}

#container {
  min-height: 0;
}

a, a:link, a:visited {
  color: #aaa;
  text-decoration: none;
}

tr.odd  td.overall_total,
tr.even td.overall_total {
  color: #0a0;
}

input {
  opacity: 0.5;
}
